In [60]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

from sklearn.metrics import r2_score   

import matplotlib.pyplot as plt
import seaborn as sns
 
%matplotlib inline

from sklearn.preprocessing import StandardScaler

def oneHotForFeatures(df, columnName):
    onehot = pd.get_dummies(df[columnName],prefix=columnName)
    df = df.drop(columnName, axis =1)
    df = df.join(onehot)
    return df

def toUniqueValsForFeature(df, columnName):
    df[columnName] = df[columnName].str.replace(' ', '')
    uniqueValues = df[columnName].unique()
    mapValues = {}
    for eachOne in range(len(uniqueValues)):
        mapValues[uniqueValues[eachOne]]  = eachOne
        
    df[columnName] = df[columnName].apply(mapValues.get).astype(float)
    return


dpath = './data/'
dataFrame = pd.read_csv(dpath + "train.csv")

dataFrame.head()
#dataFrame.fillna('', inplace=True)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [61]:
toUniqueValsForFeature(dataFrame, 'MSZoning')
toUniqueValsForFeature(dataFrame, 'LotShape')
toUniqueValsForFeature(dataFrame, 'LandContour')

toUniqueValsForFeature(dataFrame, 'Street')
toUniqueValsForFeature(dataFrame, 'Alley')

toUniqueValsForFeature(dataFrame, 'Utilities')
toUniqueValsForFeature(dataFrame, 'LotConfig')
toUniqueValsForFeature(dataFrame, 'LandSlope')
toUniqueValsForFeature(dataFrame, 'Neighborhood')
toUniqueValsForFeature(dataFrame, 'Condition1')
toUniqueValsForFeature(dataFrame, 'Condition2')
toUniqueValsForFeature(dataFrame, 'BldgType')

toUniqueValsForFeature(dataFrame, 'HouseStyle')
toUniqueValsForFeature(dataFrame, 'RoofStyle')

toUniqueValsForFeature(dataFrame, 'RoofMatl')
toUniqueValsForFeature(dataFrame, 'Exterior1st')
toUniqueValsForFeature(dataFrame, 'Exterior2nd')

toUniqueValsForFeature(dataFrame, 'MasVnrType')
toUniqueValsForFeature(dataFrame, 'ExterQual')
toUniqueValsForFeature(dataFrame, 'ExterCond')

toUniqueValsForFeature(dataFrame, 'Foundation')
toUniqueValsForFeature(dataFrame, 'BsmtQual')
toUniqueValsForFeature(dataFrame, 'BsmtCond')
toUniqueValsForFeature(dataFrame, 'BsmtExposure')

toUniqueValsForFeature(dataFrame, 'BsmtFinType1')
toUniqueValsForFeature(dataFrame, 'BsmtFinType2')
toUniqueValsForFeature(dataFrame, 'Heating')
toUniqueValsForFeature(dataFrame, 'HeatingQC')
toUniqueValsForFeature(dataFrame, 'CentralAir')
toUniqueValsForFeature(dataFrame, 'Electrical')

toUniqueValsForFeature(dataFrame, 'KitchenQual')
toUniqueValsForFeature(dataFrame, 'Functional')
toUniqueValsForFeature(dataFrame, 'FireplaceQu')
toUniqueValsForFeature(dataFrame, 'GarageType')
toUniqueValsForFeature(dataFrame, 'GarageFinish')
toUniqueValsForFeature(dataFrame, 'GarageQual')
toUniqueValsForFeature(dataFrame, 'GarageCond')

toUniqueValsForFeature(dataFrame, 'PavedDrive')
toUniqueValsForFeature(dataFrame, 'PoolQC')
toUniqueValsForFeature(dataFrame, 'Fence')
toUniqueValsForFeature(dataFrame, 'MiscFeature')
toUniqueValsForFeature(dataFrame, 'SaleType')

toUniqueValsForFeature(dataFrame, 'SaleCondition')

dataFrame['GarageYrBlt'].fillna(dataFrame['GarageYrBlt'].median(), inplace=True) 

#Transform Year to age
dataFrame['YearBuilt'] = dataFrame['YearBuilt'].map(lambda s: 2017 - int(s))
dataFrame['YearRemodAdd'] = dataFrame['YearRemodAdd'].map(lambda s: 2017 - int(s))
dataFrame['GarageYrBlt'] = dataFrame['GarageYrBlt'].map(lambda s: 2017 - int(s))
dataFrame['YrSold'] = dataFrame['YrSold'].map(lambda s: 2017 - int(s))

dataFrame['LotFrontage'].fillna(dataFrame['LotFrontage'].median(), inplace=True) 
dataFrame['MasVnrArea'].fillna(dataFrame['MasVnrArea'].median(), inplace=True) 

dataFrame = dataFrame.drop('Id', 1)

dataFrame.describe()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.00000,1460.000000
mean,56.897260,0.340411,69.863699,10516.828082,0.004110,0.090411,0.408219,0.195205,0.000685,0.596575,...,2.758904,0.010274,0.332877,0.043151,43.489041,6.321918,9.184247,0.234932,0.35000,180921.195890
std,42.300571,0.798309,22.027677,9981.264932,0.063996,0.372151,0.582296,0.642010,0.026171,1.010359,...,40.177307,0.158916,0.793316,0.245984,496.123024,2.703626,1.328095,0.804553,0.88787,79442.502883
min,20.000000,0.000000,21.000000,1300.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,7.000000,0.000000,0.00000,34900.000000
25%,20.000000,0.000000,60.000000,7553.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,8.000000,0.000000,0.00000,129975.000000
50%,50.000000,0.000000,69.000000,9478.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,9.000000,0.000000,0.00000,163000.000000
75%,70.000000,0.000000,79.000000,11601.500000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,10.000000,0.000000,0.00000,214000.000000
max,190.000000,4.000000,313.000000,215245.000000,1.000000,2.000000,3.000000,3.000000,1.000000,4.000000,...,738.000000,3.000000,4.000000,4.000000,15500.000000,12.000000,11.000000,8.000000,5.00000,755000.000000

In [62]:
NAN_rows = dataFrame[dataFrame.isnull().T.any().T]
print("NAN_rows ",NAN_rows)

dataFrame.to_csv(dpath + "housePriceTrain_clean.csv")

NAN_rows  Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 80 columns]